 
<table class="table">
  <thead>
  
    <tr>
      <th>Title</th>
      <th>Amount</th>
      <th>Date</th>
    </tr>
  </thead>


  <tbody>
  <tr>
      <% @accounts.each do |account| %>  
    
      <td><%= account.Title %></td>  
      <td><%= account.Amount %></td>
      <td><%= account.Date %></td>  
    </tr>

  
<% end %>
  </tbody>
</table>